body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.calendar-container{
  color: #e1e1e1;
}

.App {
  min-height: 100vh;
  position: relative;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.day-button {
  width: 25%;
}

.day-number {
  margin-right: 5px; /* Adjust the spacing as desired */
}

.home-office-icon {
  margin-left: 5px; /* Adjust the spacing as desired */
}

.current-day {
  background-color: #004be3; /* Customize the background color for the current day */
  color: #fff; /* Customize the text color for the current day */
}
